body {
    background-color: lightgrey;
    background-image: url(../images/01-02-02_background-img.jpg);
}

/* body {
    background-color: lightgrey;
    background-image: url(/Users/naziahameed/Documents/vs-code-projects/my-first-project/assets/images/01-02-02_background-img.jpg);
} */